h1{
  text-align: center;
  font-size: 70px;
  color: rgb(51, 129, 212);
  padding: 50px;
  font-family: 'Alfa Slab One', cursive;
}

.big{

  width: 700px;
  height: 480px;
  border: 2px solid black;
  margin-bottom: 150px;
  margin-top: 150px;
  background-color: rgb(51, 129, 212);
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
}

.small{
  width: 150px;
  height: 100px;
  border: 2px solid black;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  background-color: red;
  touch-action: none;
  user-select: none;
}

@media (max-width: 576px) {

  .big{
    width: 500px;
    height: 300px;
    margin-top: 100px;

  }

}
